{% extends 'base.html' %}

{% block content %}
<h2>Post Help Request</h2>

<form method="post">
    {% csrf_token %}

    <input type="text" name="title" placeholder="Title" required><br><br>

    <textarea name="description" placeholder="Describe the problem" required></textarea><br><br>

    <input type="text" name="phone" placeholder="Phone number" required><br><br>

    <!-- hidden location -->
    <input type="hidden" name="latitude" id="lat">
    <input type="hidden" name="longitude" id="lng">

    <p id="status" style="color:green;"></p>

    <button type="button" onclick="getLocation()">📍 Get Location</button><br><br>

    <button type="submit">Post Help</button>
</form>

{% if success %}
<hr>
<h3>✅ Help Posted Successfully</h3>

<p><b>User:</b> {{ help.user.username }}</p>
<p><b>Title:</b> {{ help.title }}</p>
<p><b>Description:</b> {{ help.description }}</p>
<p><b>Phone:</b> {{ help.phone }}</p>
<p><b>Latitude:</b> {{ help.latitude }}</p>
<p><b>Longitude:</b> {{ help.longitude }}</p>

<a href="{{ help.location_link }}" target="_blank">📍 View Location on Map</a>
<hr>
{% endif %}

<script>
function getLocation() {
    if (!navigator.geolocation) {
        alert("Geolocation not supported");
        return;
    }

    navigator.geolocation.getCurrentPosition(
        function(pos) {
            document.getElementById("lat").value = pos.coords.latitude;
            document.getElementById("lng").value = pos.coords.longitude;

            document.getElementById("status").innerText =
                "Location captured ✔";
        },
        function() {
            alert("Please allow location access");
        }
    );
}
</script>
{% endblock %}
